body {
    background-color: #333;
    color: white;
}

@keyframes Hover {
    0% { background-color: rgb(24, 141, 231) }
    100% { background-color: rgb(21, 103, 165); }
}

@keyframes Leave {
    0% { background-color: rgb(21, 103, 165); }
    100% { background-color: rgb(24, 141, 231) }
}

@keyframes MoveBottom {
    0% { top: 50%; }
    100% { top: 85%; }
}
@keyframes MoveOrigin {
    0% { top: 75%; }
    100% { top: 50%; }
}

@keyframes MoveLoseScreen {
    0% { top: 85%; }
    100% { top: 70%; }
}

@keyframes showBossFrame {
    0% { top: 10%; }
    100% { top: 50%; }
}
@keyframes hideBossFrame {
    0% { top: 50%; }
    100% { top: -60%; }
}

@keyframes loseLabelMove {
    0% { top: 10%; }
    100% { top: 45%; }
}

#mainButton {
    height: 32px;
    width: 185px;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(24, 141, 231);
    color: white;
    font-family: Roboto, sans-serif;
    border-width: 3px;
    border-style: solid;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%; border-color: #000;
    left: 50%;
    animation-fill-mode: forwards;
}

#clicksCounterDiv #clicksLabel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: fit-content;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150px;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#clicksCounterDiv #timeLabel {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 90%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

#winLabel {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 5%;
    top: 95%;
    font-family: Roboto, sans-serif;
    font-size: 8px;
    font-weight: 50;
    font-style: italic;
    width: fit-content;
    text-align: center;
}

#loseTitleLabel {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-style: italic;
    width: fit-content;
    text-align: center;
}
